<div class="col-md-offset-2 col-md-10 content-wrapper">
    <!-- <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6 col-sm-offset-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">To-do list</h3>
        </div>
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input id="search" type="search" class="form-control" placeholder="Search..." data-ng-model="search">
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-xs-1">No.</th>
                            <th class="col-xs-7">Name</th>
                            <th class="col-xs-1">Estimation</th>
                            <th class="col-xs-1">Date</th>
                            <th class="col-xs-1">Ico</th>
                            <th class="col-xs-1">Completed</th>
                        </tr>
                    </thead>
                    <tr data-ng-repeat="todo in IC.todos| filter: search" class="repeat-animation">
                        <td>{{$index + 1}}. </td>
                        <td><span class="done-{{todo.done}}">{{todo.title}}</span></td>
                        <td><span class="done-{{todo.done}}">({{todo.estimates}}h)</span></td>
                        <td><span class="done-{{todo.done}}">{{todo.date}}</span></td>
                        <td><span class="glyphicon glyphicon-{{todo.type.gico}} done-{{todo.done}}" title="{{todo.type.name}}"></span></td>
                        <td><input type="checkbox" data-ng-model="todo.done" title="Mark as completed" /></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <button id="delete-btn" class="btn btn-danger" data-ng-click="TLC.deleteCompleted()">
                Delete completed <span class="glyphicon glyphicon-remove"></span></button>
            <button id="add-btn" data-ui-sref="root.todos.new" class="btn btn-success">
                Add todo <span class="glyphicon glyphicon-plus"></span></button>
        </div>
    </div> -->
    <!-- <uib-tabset type="pills">
        <uib-tab heading="Segmentation">
            <segmentation-component>
            </segmentation-component>
        </uib-tab>
        <uib-tab heading="Custom Segments" >
            
        </uib-tab>
    </uib-tabset> -->

    <custom-segmentation-component>
            </custom-segmentation-component>
</div>