<div class="row mt-3">
  <div class="col-md-6 ">
      <div class="card card-primary">
        <!-- <div class="card-header">
          <h3 class="card-title">Quick Example</h3>
        </div> -->
        <!-- /.card-header -->
        <!-- form start -->
        <form role="form">
          <div class="card-body">
            <div class="form-group">
              <label for="exampleInputEmail1">Range</label>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Type
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">Daily</a></li>
                  <li><a href="#">Weekly</a></li>
                </ul>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Level</label><div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Level
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">Customer</a></li>
                </ul>
              </div>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Priority</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Discount</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
            </div>
          </div>
          <!-- /.card-body -->

          
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Next</button>
          </div>
        </form>
      </div>

  </div>
</div>

