<div class="row mt-3">
  <div class="col-md-12 ">
        <!-- <div class="card-header">
          <h3 class="card-title">Quick Example</h3>
        </div> -->
        <!-- /.card-header -->
        <!-- form start -->
        <div class="row">
          <div class="col-md-3 ">
            <h4>Segment list</h4>
          </div>
          <div class="col-md-2 col-md-offset-7 pt-2">
            <a href="javascript:void(0)" ng-click="ctrl.openCreateModal()"  ><i class="fa fa-plus" aria-hidden="true"></i><span class="ml-1 underline create-link-text">Create Segment</span></a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div ui-grid="{data : ctrl.gridOptions}" class="myGrid"></div>
          </div>
        </div>

        
        <form role="form">
          <!-- <div class="card-body">
            <div class="form-group">
              <label for="name">Name <sup class="super-star">*</sup></label>
              <input type="text" class="form-control" id="name" ng-model="ctrl.segmentName" placeholder="">
            </div>
            <div class="form-group">
              <label for="status">Status</label>
              <div class="radio">
                <div class="pl-4">
                  <input type="radio" id="status" name="segmentStatus" ng-model="ctrl.segmentStatus"  value="1" checked>
                  Active
                </div>
              </div>
              <div class="radio">
                <div class="pl-4">
                  <input type="radio" name="segmentStatus" ng-model="ctrl.segmentStatus" value="0">
                  Inactive
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="status">Query Action</label>
              <div class="radio">
                <div class="pl-4">
                  <input type="radio" name="optionsRadios" ng-model="ctrl.segmentAction" value="ADD" checked>
                  Addition
                </div>
              </div>
              <div class="radio">
                <div class="pl-4">
                  <input type="radio" name="optionsRadios" ng-model="ctrl.segmentAction" value="UPDATE">
                  Addition & Removal
                </div>
              </div>
              <div class="radio">
                <div class="pl-4">
                  <input type="radio" name="optionsRadios" ng-model="ctrl.segmentAction" value="REMOVE">
                  Removal
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="">Query <sup class="super-star">*</sup></label>
              <textarea class="form-control" ng-model="ctrl.segmentQuery"></textarea>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Reference</label>

              <select class="form-control" name="mySelect" id="mySelect"
              ng-options="option.entityName for option in ctrl.entityTypeList"
              ng-model="ctrl.selectedEntityType"></select>

            </div>

          </div> -->
          <!-- /.card-body -->

         <!--  <div class="card-footer">
            <button type="submit" ng-click="ctrl.saveSegment()" class="btn btn-primary" ng-disabled ="!ctrl.segmentName || !ctrl.segmentQuery">Submit</button>

          </div> -->
        </form>
  </div>
</div>

<style>
  .super-star{
    color:red;
  }
  .create-link-text{
    font-size: 1.1em;
  }
  </style>

