<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Create Segment</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row mt-3">
      <div class="col-md-12 ">
          <div class=" custom-segment-card">
            <!-- <div class="card-header">
              <h3 class="card-title">Quick Example</h3>
            </div> -->
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form">
              <div class="pl-3">
                <div class="form-group">
                  <label for="name">Name <sup class="super-star">*</sup></label>
                  <input type="text" class="form-control" id="name" ng-model="ctrl.segmentName" placeholder="">
                </div>
                <div class="form-group">
                  <label for="status">Status</label>
                  <div class="radio">
                    <div class="pl-4">
                      <input type="radio" id="status" name="segmentStatus" ng-model="ctrl.segmentStatus"  value="1" checked>
                      Active
                    </div>
                  </div>
                  <div class="radio">
                    <div class="pl-4">
                      <input type="radio" name="segmentStatus" ng-model="ctrl.segmentStatus" value="0">
                      Inactive
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="status">Query Action</label>
                  <div class="radio">
                    <div class="pl-4">
                      <input type="radio" name="optionsRadios" ng-model="ctrl.segmentAction" value="ADD" checked>
                      Addition
                    </div>
                  </div>
                  <div class="radio">
                    <div class="pl-4">
                      <input type="radio" name="optionsRadios" ng-model="ctrl.segmentAction" value="UPDATE">
                      Addition & Removal
                    </div>
                  </div>
                  <div class="radio">
                    <div class="pl-4">
                      <input type="radio" name="optionsRadios" ng-model="ctrl.segmentAction" value="REMOVE">
                      Removal
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="">Query <sup class="super-star">*</sup></label>
                  <textarea class="form-control" ng-model="ctrl.segmentQuery"></textarea>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Reference</label>

                  <select class="form-control" name="mySelect" id="mySelect"
                  ng-options="option.entityName for option in ctrl.entityTypeList"
                  ng-model="ctrl.selectedEntityType"></select>

                </div>

              </div>
              <!-- /.card-body -->
            </form>
          </div>
      </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ctrl.saveSegment()">Submit</button>
    <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">Cancel</button>
</div>

<style>
  .super-star{
    color:red;
  }
</style>