.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.done-true {
    text-decoration: line-through;
    color: #ddd;
}
.form-control[disabled], .form-control[readonly], .fieldset[disabled], .form-control {
    cursor: pointer;
    background-color: white;
}
html{
	font-size: 13px;
}
body{
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.navbar-nav > li > a {
	padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.nav-pills > li.active > a,  .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #007bff;
}
.nav-pills > li.active > a:hover{
	background-color: #337ab7;
	color: white !important;
}

.nav-pills > li:not(.active) > a:hover{
	color: #6c757d !important;
}

div[type="pills"] > .nav-pills{
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

.card-primary:not(.card-outline)>.card-header, .card-primary:not(.card-outline)>.card-header a {
    color: #6c757d;
}
.card-primary:not(.card-outline)>.card-header {
    background-color: white;
}
.custom-segment-card input[type="radio"]{
    font-weight:normal;
}
.text-grey {
    color: rgb(88, 87, 87);
}
.underline{
    text-decoration: underline;
}
a , a:focus{
    color:#1579f6;
}
